*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.tools-content{
    background: grey;
    height: 60px;
}
.canvas-content{
    width: 100%;
    height: calc(100vh - 60px); 
    overflow: hidden;
}
#canvas{
    background: green;
    
}