* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.tools-content {
    /* background: grey; */
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools {
    display: flex;
    /* background: blueviolet; */
    height: 80%;
    width: 70%;
    justify-content: space-evenly;
    border-radius: 10px;
    border: 1px solid gray;
    background: aliceblue
}

.tool {
    position: relative;
}

.tool img {
    height: 100%;
    width: 100%;
}

.canvas-content {
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
}

#canvas {
    /* background: green; */
}

.tool-options {
    background: mediumvioletred;
    height: 100px;
    width: 100px;
    border: 1px solid lightgray;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    left : -30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pencil-size {
    text-align: center;
}

.pencil-size input {
    width: 90%;
}

.pencil-colors {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.pencil-colors div {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

.black {
    background: black;
}

.yellow {
    background: yellow;
}

.hide {
    display: none;
}

.eraser-size {
    text-align: center;
}

.eraser-size input {
    width: 90%;
}

.sticky {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 250px;
    width: 200px;
    /* border: 1px solid darkblue; */
}

.sticky-header {
    height: 15%;
    background: blueviolet ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sticky-header div {
    height: 70%;
    width: 10%;
    border-radius: 50%;
    ; }

.minimize {
    background: black;
}

.close {
    background: red;
    margin-left: 5px;
    margin-right: 5px;
}

.sticky-content {
    height: 85%;
}

textarea {
    height: 100%;
    width: 100%;
    outline: none;
    /* border: none; */
    padding: 3px;
}
